@model IEnumerable<NotesMarketPlace.Models.AdminNotes>

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/Admin.cshtml";
}



<section id="dashboard">
    <div class="container">
        <h1>Dashboard</h1>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 box">
                <div class="box1">
                    <h3><a href="@Url.Action("NotesUnderReview", "Admin")">@ViewBag.InReviewNotes</a></h3>
                    <h5>Numbers of Notes in Review for Public</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 box">
                <div class="box2">
                    <h3><a href="@Url.Action("DownloadedNotes", "Admin")">@ViewBag.DownloadedNotes</a></h3>
                    <h3></h3>
                    <h5>Numbers of New Notes Downloaded<br>(Last 7 days)</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 box">
                <div class="box3">
                    <h3><a href="@Url.Action("Members", "Admin")">@ViewBag.User</a></h3>
                    <h3></h3>
                    <h5>Numbers of New Registrations(Last 7 days)</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="table">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <h3>Published Notes</h3>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-8 search-input">
                @using (Html.BeginForm("Dashboard", "Admin", FormMethod.Get))
                {
                    <input name="SelectedMonth" value="@ViewBag.SelectedMonth" hidden>
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { htmlAttributes = new { @class = "mainLoginInput", @placeholder = "&#61442; Search" } })
                    <button id="submit" type="submit">SEARCH</button>
                }
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4 select">
                @using (Html.BeginForm("Dashboard", "Admin", FormMethod.Get))
                {
                    @Html.DropDownList("SelectedMonth", ViewBag.Months as SelectList, "Select Months", new { @onchange = "this.form.submit()" })
                }
            </div>
        </div>
        <div style="overflow-x:auto;">

            <table class="table">
                <tr>
                    <th>
                        <a>SR NO.</a>
                    </th>
                    <th>
                        @Html.ActionLink("TITLE", "Dashboard", new { sortOrder = ViewBag.title, currentFilter = ViewBag.CurrentFilter, SelectedMonth = ViewBag.SelectedMonth })
                    </th>
                    <th>
                        @Html.ActionLink("CATEGORY", "Dashboard", new { sortOrder = ViewBag.category, currentFilter = ViewBag.CurrentFilter, SelectedMonth = ViewBag.SelectedMonth })
                    </th>
                    <th>
                        @Html.ActionLink("ATTACHMENT SIZE", "Dashboard", new { sortOrder = ViewBag.attachmentsize, currentFilter = ViewBag.CurrentFilter, SelectedMonth = ViewBag.SelectedMonth })
                    </th>
                    <th>
                        @Html.ActionLink("SELL TYPE", "Dashboard", new { sortOrder = ViewBag.selltype, currentFilter = ViewBag.CurrentFilter, SelectedMonth = ViewBag.SelectedMonth })
                    </th>
                    <th>
                        @Html.ActionLink("PRICE", "Dashboard", new { sortOrder = ViewBag.price, currentFilter = ViewBag.CurrentFilter, SelectedMonth = ViewBag.SelectedMonth })
                    </th>
                    <th>
                        @Html.ActionLink("PUBLISHER", "Dashboard", new { sortOrder = ViewBag.publisher, currentFilter = ViewBag.CurrentFilter, SelectedMonth = ViewBag.SelectedMonth })
                    </th>
                    <th>
                        @Html.ActionLink("PUBLISHED DATE", "Dashboard", new { sortOrder = ViewBag.publisheddate, currentFilter = ViewBag.CurrentFilter, SelectedMonth = ViewBag.SelectedMonth })
                    </th>
                    <th>
                        @Html.ActionLink("NUMBER OF DOWNLOADS", "Dashboard", new { sortOrder = ViewBag.noofdown, currentFilter = ViewBag.CurrentFilter, SelectedMonth = ViewBag.SelectedMonth })
                    </th>
                    <th>
                        <a>ACTION</a>
                    </th>
                </tr>
                @{
                    int a = 1;

                    foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:center;">
                                @a
                            </td>
                            <td>
                                <a href='@Url.Action("Notedetail", "Admin", new { id = item.noteid})'>@Html.DisplayFor(modelItem => item.title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.category)
                            </td>
                            <td style="text-align:center;">
                                @Html.DisplayFor(modelItem => item.attachmentsize) KB
                            </td>
                            <td style="text-align:center;">
                                @Html.DisplayFor(modelItem => item.selltype)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.publisher)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.publisheddate)
                            </td>
                            <td style="text-align:center;">
                                <a href='@Url.Action("DownloadedNotes", "Admin", new { selectednote = item.noteid})'>@Html.DisplayFor(modelItem => item.noofdownload)</a>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="dropbtn"> <img src="~/img/dots.png"></button>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("Download", "Admin", new { id = item.noteid})">Download Notes</a>
                                        <a href="@Url.Action("Notedetail", "Admin", new { id = item.noteid})">View More Details</a>
                                        <a onclick="unpublishpopup('@item.title','@item.noteid')">Unpublish</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        a = a + 1;
                    }
                }
            </table>
            <div style="text-align:center; ">

                @Html.PagedListPager(Model as PagedList.IPagedList, page => Url.Action("Dashboard",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, SelectedMonth = ViewBag.SelectedMonth }))
            </div>
        </div>
    </div>
</section>

<form method="post" action="@Url.Action("Unpublish", "Admin")" class="inappropriate" id="unpublish-popup">
    <img class="close" src="~/img/close.png" onclick="location.href='@Url.Action("Dashboard", "Admin")'" />
    <h2>Unpublished Notes</h2>
    <input type="text" class="textbox" name="id" id="id1" readonly hidden />
    <label>Title</label>
    <input type="text" class="textbox" id="title" readonly />
    <label>Remark*</label>
    <textarea class="textarea" name="remark" rows="4" required></textarea>
    <button type="submit" onclick="return confirm('Are you sure you want to Unpublish this note?');">Submit</button>
</form>
