@model PagedList.IPagedList<Notes.Models.UserBuyerSoldRejectedDownloadDashboardNotes>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "BuyerRequest";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<section id="buyer-request">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6 col-xs-12">
                <h2>Buyer Requests</h2>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12 search">
                @using (Html.BeginForm("BuyerRequest", "User", FormMethod.Get))
                {
                    <input class="mainLoginInput" type="text" value="@ViewBag.CurrentFilter" name="SearchString" placeholder="Search notes here..." />
                    <button id="submit" type="submit">SEARCH</button>
                }
            </div>
        </div>
        <div style="overflow-x:auto;">
            <table class="table">
                <tr>
                    <th style="width:3%">NO.</th>
                    <th style="width:17%">
                        NOTE TITLE &nbsp;<a onclick='window.location="@Url.Action("BuyerRequest","User", new { sortOrder = ViewBag.title, currentFilter = ViewBag.CurrentFilter })"'><img src="~/img/sorticon.png" style="width:10px; height:16px;"></a>
                    </th>
                    <th style="width:10%;">
                        CATEGORY &nbsp;<a onclick='window.location="@Url.Action("BuyerRequest","User", new { sortOrder = ViewBag.category, currentFilter = ViewBag.CurrentFilter})"'><img src="~/img/sorticon.png" style="width:10px; height:16px;"></a>
                    </th>
                    <th style="width:20%;">
                        BUYER &nbsp;<a onclick='window.location="@Url.Action("BuyerRequest","User", new { sortOrder = ViewBag.email, currentFilter = ViewBag.CurrentFilter})"'><img src="~/img/sorticon.png" style="width:10px; height:16px;"></a>
                    </th>
                    <th style="width:10%;">
                        SELL TYPE &nbsp;<a onclick='window.location="@Url.Action("BuyerRequest","User", new { sortOrder = ViewBag.selltype, currentFilter = ViewBag.CurrentFilter})"'><img src="~/img/sorticon.png" style="width:10px; height:16px;"></a>
                    </th>
                    <th style="width:10%;">
                        PRICE &nbsp;<a onclick='window.location="@Url.Action("BuyerRequest","User", new { sortOrder = ViewBag.price, currentFilter = ViewBag.CurrentFilter })"'><img src="~/img/sorticon.png" style="width:10px; height:16px;"></a>
                    </th>
                    <th style="width:24%;">
                        DOWNLOADED DATE/TIME &nbsp;<a onclick='window.location="@Url.Action("BuyerRequest","User", new { sortOrder = ViewBag.date, currentFilter = ViewBag.CurrentFilter})"'><img src="~/img/sorticon.png" style="width:10px; height:16px;"></a>
                    </th>
                    <th style="width:3%;"></th>
                    <th style="width:3%;"></th>

                </tr>
                @{
                    int a = 1;
                    foreach (var item in Model)
                    {
                        <tr class="shadow">
                            <td style="text-align: center;">
                                @a
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.selltype)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date)
                            </td>
                            <td style="text-align: center;"><img src="~/img/eye.png" onclick="location.href='@Url.Action("Notedetail", "User", new { id = item.noteid })'" /></td>
                            <td style="text-align: center;">
                                <div class="dropdown">
                                    <button class="dropbtn"><img src="~/img/dots.png"></button>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("allowdownload", "User", new { id = item.noteid })">Allow Download</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        a = a + 1;
                    }
                }
            </table>
        </div>
        <div style="text-align:center; ">

            @Html.PagedListPager(Model, page => Url.Action("BuyerRequest",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</section>
