@model PagedList.IPagedList<NotesMarketPlace.Models.UserBuyerSoldRejectedDownloadDashboardNotes>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "SoldNote";
    Layout = "~/Views/Shared/Registered.cshtml";
}

<section id="my-soldnotes">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6 col-xs-12">
                <h2>My Sold Notes</h2>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12 search">
                @using (Html.BeginForm("SoldNote", "User", FormMethod.Get))
                {
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { htmlAttributes = new { @class = "mainLoginInput" } })
                    <button id="submit" type="submit">SEARCH</button>
                }
            </div>
        </div>
        <div style="overflow-x:auto;">
            <table>
                <tr>
                    <th style="text-align: center;"><a>SR NO.</a></th>
                    <th>
                        @Html.ActionLink("NOTE TITLE", "SoldNote", new { sortOrder = ViewBag.title, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("CATEGORY", "SoldNote", new { sortOrder = ViewBag.category, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("BUYER", "SoldNote", new { sortOrder = ViewBag.email, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("SELL TYPE", "SoldNote", new { sortOrder = ViewBag.selltype, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("PRICE", "SoldNote", new { sortOrder = ViewBag.price, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("DOWNLOADED DATE/TIME", "SoldNote", new { sortOrder = ViewBag.date, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                @{
                    int a = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center;">
                                @a
                            </td>
                            <td>
                                <a href='@Url.Action("Notedetail", "User", new { id = item.noteid})'>@Html.DisplayFor(modelItem => item.title)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.selltype)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.price)
                            </td>
                            <td> 
                                @Html.DisplayFor(modelItem => item.date)
                            </td>
                            <td style="text-align: center;"><img src="~/img/eye.png" onclick="location.href='@Url.Action("Notedetail", "User", new { id = item.noteid})'" /></td>
                            <td style="text-align: center;">
                                <div class="dropdown">
                                    <button class="dropbtn"><img src="~/img/dots.png"></button>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("Download", "User", new { id = item.noteid })">Download Note</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        a = a + 1;
                    }
                }
            </table>
            <br />
            <div style="text-align:center; ">

                @Html.PagedListPager(Model, page => Url.Action("SoldNote",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>
    </div>
</section>
