@model NotesMarketPlace.Models.Buyerrequest

@{
    ViewBag.Title = "BuyerRequest";
}

<h2>BuyerRequest</h2>


@using (Html.BeginForm("BuyerRequest", "User", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()

<section id="buyer-request">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6 col-xs-12">
                <h2>Buyer Requests</h2>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12 search">
                @Html.TextBox("Searching1", null, new { htmlAttributes = new { @class = "mainLoginInput" } })
                <button id="submit" type="submit">SEARCH</button>
            </div>
        </div>
        <div style="overflow-x:auto;">
            <table>
                <tr>
                    <th style="text-align: center;">SR NO.</th>
                    <th>NOTE TITLE</th>
                    <th>CATEGORY</th>
                    <th>BUYER</th>
                    <th>SELL TYPE</th>
                    <th>PRICE</th>
                    <th>DOWNLOADED DATE/TIME</th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var data in ViewBag.process1 as IEnumerable<NotesMarketPlace.Models.Buyerrequest>)
                {
                    <tr>
                        <td></td>
                        <td>@data.downloadnotelist.NoteTitle</td>
                        <td>@data.downloadnotelist.NoteCategory</td>
                        <td>@data.userlist.EmailID</td>
                        <td>@data.downloadnotelist.IsPaid</td>
                        <td>@data.downloadnotelist.PurchasedPrice</td>
                        <td>@data.downloadnotelist.AttachmentDownloadedDate</td>
                        <td style="text-align: center;"><img src="~/img/eye.png" onclick="location.href='@Url.Action("Notedetail", "User", new { id = data.downloadnotelist.NoteID })'" /></td>
                        <td style="text-align: center;">
                            <div class="dropdown">
                                <button class="dropbtn"><img src="~/img/dots.png"></button>
                                <div class="dropdown-content">
                                    <a href="@Url.Action("Allowdownload","User",new {id = data.downloadnotelist.NoteID })">Allow Download</a>
                                </div>
                            </div>
                        </td>

                    </tr>
                }
            </table>
            @{
                double totalpages = ViewBag.TotalPages;
                for (int i = 1; i <= totalpages; i++)
                {
                    <ul class="pagination">
                        @if (i == ViewBag.PageNumber)
                        {
                            <li class="active">
                                @Html.ActionLink(i.ToString(), "BuyerRequest", new { PageNumber = i })
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink(i.ToString(), "BuyerRequest", new { PageNumber = i })
                            </li>
                        }
                    </ul>
                }
            }
        </div>
    </div>
</section>


}
