@model NotesMarketPlace.Models.Dashboard

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>


@using (Html.BeginForm("Dashboard", "User", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()


    <div id="dashboard">
        <section id="dashboard-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <h2>Dashboard</h2>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a href="@Url.Action("Addnote","User")" class="addbutton">ADD NOTE</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="row left">
                            <div class="col-md-4 col-sm-4 col-xs-4 box">
                                <img src="~/img/earning-icon.svg" class="icon-img">
                                <h3>My Earning</h3>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8 box">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <h3>@ViewBag.downloadno</h3>
                                        <h4>Number of Notes Sold</h4>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <h3>@ViewBag.Total</h3>
                                        <h4>Money Earned</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="row right">
                            <div class="col-md-4 col-sm-4 col-xs-4 box">
                                <div class="box1">
                                    <h3>@ViewBag.downloadno</h3>
                                    <h4>My Downloads</h4>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 box">
                                <div class="box2">
                                    <h3>@ViewBag.rejectno</h3>
                                    <h4>My Rejected Notes</h4>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 box">
                                <div class="box3">
                                    <h3>@ViewBag.Buyerreuest</h3>
                                    <h4>Buyer Reuests</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="dashboard-2">
            <div id="table" class="manage-administrator">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <h2>In Process Notes</h2>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 search">
                            @Html.TextBox("Searching1", null, new { htmlAttributes = new { @class = "mainLoginInput" } })
                            <button id="submit" type="submit">SEARCH</button>
                        </div>
                    </div>
                    <div style="overflow-x:auto;">

                        <table>
                            <tr>
                                <th>Added Date</th>
                                <th>Title</th>
                                <th>Category</th>
                                <th>Status</th>
                                <th style="text-align: center;">Action</th>
                            </tr>

                            @foreach (var data in ViewBag.process1 as IEnumerable<NotesMarketPlace.Models.Dashboard>)
                            {
                                <tr>
                                    <td>@data.sellernotelist.CreatedDate</td>
                                    <td>@data.sellernotelist.Title</td>
                                    <td>@data.notecategory.Name</td>
                                    <td>@data.referencelist.DataValue</td>
                                    <td style="text-align: center;"><img src="~/img/delete.png" onclick="location.href='@Url.Action("Delete", "User", new { id = data.sellernotelist.ID })'" />    <img src="~/img/eye.png" onclick="location.href='@Url.Action("Notedetail", "User", new { id = data.sellernotelist.ID })'" /></td>
                                </tr>

                            }
                        </table>
                        @{
                            double totalpages = ViewBag.TotalPages;
                            for (int i = 1; i <= totalpages; i++)
                            {
                                <ul class="pagination">
                                    @if (i == ViewBag.PageNumber)
                                    {
                                        <li class="active">
                                            @Html.ActionLink(i.ToString(), "Dashboard", new { PageNumber = i })
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            @Html.ActionLink(i.ToString(), "Dashboard", new { PageNumber = i })
                                        </li>
                                    }
                                </ul>
                            }
                        }
                    </div>
                </div>
            </div>
        </section>
        <section id="dashboard-2">
            <div id="table" class="manage-administrator">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <h2>Published Notes</h2>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 search">
                            @Html.TextBox("Searching2", null, new { htmlAttributes = new { @class = "mainLoginInput" } })
                            <button id="submit" type="submit">SEARCH</button>
                        </div>
                    </div>
                    <div style="overflow-x:auto;">
                        <table>
                            <tr>
                                <th>ADDED DATE</th>
                                <th>TITLE</th>
                                <th>CATEGORY</th>
                                <th>SELL TYPE</th>
                                <th>PRICE</th>
                                <th style="text-align: center;">ACTIONS</th>
                            </tr>
                            @foreach (var data in ViewBag.process2 as IEnumerable<NotesMarketPlace.Models.Dashboard>)
                            {
                                <tr>
                                    <td>@data.sellernotelist.CreatedDate</td>
                                    <td>@data.sellernotelist.Title</td>
                                    <td>@data.notecategory.Name</td>
                                    <td>@data.sellernotelist.IsPaid</td>
                                    <td>@data.sellernotelist.SellingPrice </td>
                                    <td style="text-align: center;"><img src="~/img/delete.png" onclick="location.href='@Url.Action("Delete", "User", new { id = data.sellernotelist.ID })'" />     <img src="~/img/eye.png" onclick="location.href='@Url.Action("Notedetail", "User", new { id = data.sellernotelist.ID })'" /></td>
                                </tr>
                            }
                        </table>
                        @{
                            double totalpages2 = ViewBag.TotalPages2;
                            for (int i = 1; i <= totalpages2; i++)
                            {
                                <div class="text-center" style="display:inline-block; vertical-align:middle;">

                                    <ul class="pagination">
                                        @if (i == ViewBag.PageNumber2)
                                        {
                                            <li class="active">
                                                @Html.ActionLink(i.ToString(), "Dashboard", new { PageNumber2 = i })
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                @Html.ActionLink(i.ToString(), "Dashboard", new { PageNumber2 = i })
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>


}