
@{
    ViewBag.Title = "mailnotedetail";
}

<h2>mailnotedetail</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
@ViewBag.body = body.Replace("[buyerL]", username2);
<br>
<br>
@ViewBag.email = email;
<br>
@ViewBag.username = username1;
<br>
@ViewBag.username2 = username2;
<br>
@ViewBag.username3 = sellername;
<br>

   @ViewBag.sID = sellerid;
    @ViewBag.ID = usrid;
     @ViewBag.note = id;
