@model PagedList.IPagedList<NotesMarketPlace.Models.Mydownloads>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Mydownloads";
    Layout = "~/Views/Shared/Registered.cshtml";
}
@if (TempData["Mydownload"] != null)
{
    <script>alert('@TempData["Mydownload"]');</script>
}

<section id="my-soldnotes">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6 col-xs-12">
                <h2>My Downloads</h2>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12 search">
                @using (Html.BeginForm("Mydownloads", "User", FormMethod.Get))
                {
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { htmlAttributes = new { @class = "mainLoginInput" } })
                    <button id="submit" type="submit">SEARCH</button>
                }
            </div>

        </div>
        <div style="overflow-x:auto;">
            <table>
                <tr>
                    <th style="text-align: center;"><a>SR NO.</a></th>
                    <th>
                        @Html.ActionLink("NOTE TITLE", "Mydownloads", new { sortOrder = ViewBag.title, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("CATEGORY", "Mydownloads", new { sortOrder = ViewBag.category, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("BUYER", "Mydownloads", new { sortOrder = ViewBag.email, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("SELL TYPE", "Mydownloads", new { sortOrder = ViewBag.selltype, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("PRICE", "Mydownloads", new { sortOrder = ViewBag.price, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("DOWNLOADED DATE/TIME", "Mydownloads", new { sortOrder = ViewBag.date, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                @{
                    int a = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center;">
                                @a
                            </td>
                            <td>
                                <a href='@Url.Action("Notedetail", "User", new { id = item.downloadnotelist.NoteID })'>@Html.DisplayFor(modelItem => item.downloadnotelist.NoteTitle)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.downloadnotelist.NoteCategory)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.userlist.EmailID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.paidlist.PaidType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.downloadnotelist.PurchasedPrice)
                            </td>
                            @if (item.downloadnotelist.AttachmentDownloadedDate != null)
                            {
                                <td> @Html.DisplayFor(modelItem => item.downloadnotelist.AttachmentDownloadedDate)</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td style="text-align: center;"><img src="~/img/eye.png" onclick="location.href='@Url.Action("Notedetail", "User", new { id = item.downloadnotelist.NoteID })'" /></td>
                            <td style="text-align: center;">
                                <div class="dropdown">
                                    <button class="dropbtn"><img src="~/img/dots.png"></button>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("MyDownloadNote", "User", new {path = item.downloadnotelist.AttachmentPath , id= item.downloadnotelist.NoteID})">Download Note</a>
                                        <a onclick="openreviewpopup('@item.downloadnotelist.NoteID')">Add Review/ Feedback</a>
                                        <a onclick="openinappropriatepopup('@item.downloadnotelist.NoteTitle', '@item.downloadnotelist.NoteID')">Report as inappropriate</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        a = a + 1;
                    }
                }
            </table>
            <br />
            <div style="text-align:center; ">
                @Html.PagedListPager(Model, page => Url.Action("Mydownloads",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>
    </div>
</section>
<form id="addreview-popup" action="@Url.Action("rating", "User")" method="post">
    <h3>Add Review</h3><span class="close" onclick="closepopup()">x</span>
    <input type="text" class="textbox" name="id" id="id" readonly hidden />
    <input type="text" class="textbox" name="rating" id="rating" readonly hidden />
    <div class='rating-stars'>
        <ul id='stars'>
            <li class='star' title='Poor' data-value='1'>
                <i class='fa fa-star fa-fw'></i>
            </li>
            <li class='star' title='Fair' data-value='2'>
                <i class='fa fa-star fa-fw'></i>
            </li>
            <li class='star' title='Good' data-value='3'>
                <i class='fa fa-star fa-fw'></i>
            </li>
            <li class='star' title='Excellent' data-value='4'>
                <i class='fa fa-star fa-fw'></i>
            </li>
            <li class='star' title='WOW!!!' data-value='5'>
                <i class='fa fa-star fa-fw'></i>
            </li>
        </ul>
    </div>
    <div class="form-group">
        <label>Comments*</label>
        <div>
            <textarea name="comments" rows=4 placeholder="comments..."></textarea>
        </div>
    </div>
    <button id="button" class="submit">SUBMIT</button>
</form>


<form method="post" action="@Url.Action("Inappropriate", "User")" class="inappropriate" id="inappropriate-popup">
    <img class="close" src="~/img/close.png" onclick="location.href='@Url.Action("MyDownloads", "User")'" />
    <h2>Report an issue</h2>
    <input type="text" class="textbox" name="id" id="id1" readonly hidden />
    <label>Title</label>
    <input type="text" class="textbox" id="title" readonly />
    <label>Remark*</label>
    <textarea class="textarea" name="remark" rows="4"></textarea>
    <button type="submit" onclick="return confirm('Are you sure you want to mark this report as spam, you cannot update it later?');">Submit</button>
</form>
