@model PagedList.IPagedList<NotesMarketPlace.Models.Dashboard>

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


<section id="dashboard-2">
    <div id="table" class="manage-administrator">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <h2>Published Notes</h2>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12 search">
                    @using (Html.BeginForm("Dashboard", "User", FormMethod.Get))
                    {
                        @Html.TextBox("SearchString1", ViewBag.CurrentFilter1 as string, new { htmlAttributes = new { @class = "mainLoginInput" } })
                        <button id="submit" type="submit">SEARCH</button>
                    }
                </div>
            </div>
            <div style="overflow-x:auto;">
                <table>
                    <tr>
                        <th>@Html.ActionLink("ADDED Date", "Dashboard", new { sortOrder1 = ViewBag.date1, currentFilter1 = ViewBag.CurrentFilter1 })</th>
                        <th>@Html.ActionLink("TITLE", "Dashboard", new { sortOrder1 = ViewBag.title1, currentFilter1 = ViewBag.CurrentFilter1 })</th>
                        <th>@Html.ActionLink("CATEGORY", "Dashboard", new { sortOrder1 = ViewBag.category1, currentFilter1 = ViewBag.CurrentFilter1 })</th>
                        <th>@Html.ActionLink("SELL TYPE", "Dashboard", new { sortOrder1 = ViewBag.selltype1, currentFilter1 = ViewBag.CurrentFilter1 })</th>
                        <th>@Html.ActionLink("PRICE", "Dashboard", new { sortOrder1 = ViewBag.price1, currentFilter1 = ViewBag.CurrentFilter1 })</th>
                        <th style="text-align: center;"><a>ACTIONS</a></th>
                    </tr>
                        @foreach (var data in Model)
                        {
                            <tr>
                                @if (data.sellernotelist.CreatedDate != null)
                                {
                                    <td>@data.sellernotelist.CreatedDate</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td>@data.sellernotelist.Title</td>
                                <td>@data.notecategory.Name</td>
                                <td>@data.paidlist.PaidType</td>
                                <td>@data.sellernotelist.SellingPrice </td>
                                <td style="text-align: center;"><img src="~/img/eye.png" onclick="location.href='@Url.Action("Notedetail", "User", new { id = data.sellernotelist.ID })'" /></td>
                            </tr>
                        }
                </table>
                <div style="text-align:center; ">
                    @Html.PagedListPager(Model, page1 => Url.Action("Dashboard",
                                                new { page1, sortOrder1 = ViewBag.CurrentSort1, currentFilter1 = ViewBag.CurrentFilter1 }))
                </div>
            </div>
        </div>
    </div>
</section>
