@model PagedList.IPagedList<NotesMarketPlace.Models.Searchnote>

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@if (ViewBag.sellerid != null)
{
    ViewBag.Title = "Searchnote";
    Layout = "~/Views/Shared/Registered.cshtml";
}
else
{
    ViewBag.Title = "Searchnotes";
    Layout = "~/Views/Shared/nonRegisteredUser.cshtml";
}

<div id="search">
    <section id="banner">
        <div id="banner-heading">
            <h1>Search Notes</h1>
        </div>
    </section>
    <section id="search-1">
        <div class="container">
            <h3>Search and Filter notes</h3>
            <form action="@Url.Action("Searchnote", "User")" method="post">
                <div class="search-book">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input class="mainLoginInput form-control" type="text" name="Searching1" placeholder="&#61442; Search notes here..." onchange="this.form.submit()" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-6 select-book-info">
                            @Html.DropDownList("type1", ViewBag.type as SelectList, "Select Type", new { @onchange = "this.form.submit()" })
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 select-book-info">
                            @Html.DropDownList("category1", ViewBag.category as SelectList, "Select Category", new { @onchange = "this.form.submit()" })
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 select-book-info">
                            @Html.DropDownList("university1", ViewBag.university as SelectList, "Select University", new { @onchange = "this.form.submit()" })
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 select-book-info">
                            @Html.DropDownList("course1", ViewBag.course as SelectList, "Select Course", new { @onchange = "this.form.submit()" })
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 select-book-info">
                            @Html.DropDownList("country1", ViewBag.country as SelectList, "Select Country", new { @onchange = "this.form.submit()" })
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 select-book-info">
                            <select id="Select Type" name="Rating" onchange="this.form.submit()">
                                <option value="">Select rating</option>
                                <option value="1">+1</option>
                                <option value="2">+2</option>
                                <option value="3">+3</option>
                                <option value="4">+4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section id="search-2">
        <div class="container">
            <h3>Total @ViewBag.totalnotes Books</h3>
            <div class="row">
                @if (Model != null)
                {
                    foreach (var data in Model)
                    {
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <div id="book">
                                <div class="image">
                                    @if (data.sellernotelist.DisplayPicture != "")
                                    {
                                        <img src="~/UserFile/DisplayPictureName/@data.sellernotelist.DisplayPicture">
                                    }
                                    else
                                    {
                                        <img src="~/img/search3.png">
                                    }
                                </div>
                                <div id="book-detail">
                                    <div id="title">
                                        <a href="@Url.Action("Notedetail", "User", new { id = data.sellernotelist.ID })"><h4>@data.sellernotelist.Title</h4></a>
                                    </div>
                                    <table>
                                        <tr>
                                            <td><img src="~/img/university.png"></td>
                                            @if (data.sellernotelist.UniversityName != null)
                                            {
                                                <td><span>@data.sellernotelist.UniversityName</span></td>
                                            }
                                            else
                                            {
                                                <td><span>UniversityName</span></td>
                                            }
                                        </tr>
                                        <tr>
                                            <td><img src="~/img/pages.png"></td>
                                            @if (data.sellernotelist.NumberOfPages != null)
                                            {
                                                <td><span>@data.sellernotelist.NumberOfPages</span></td>
                                            }
                                            else
                                            {
                                                <td><span>NumberOfPages</span></td>
                                            }
                                        </tr>
                                        <tr>
                                            <td><img src="~/img/calendar.png"></td>
                                            @if (data.sellernotelist.CreatedDate != null)
                                            {
                                                <td><span>@data.sellernotelist.CreatedDate</span></td>
                                            }
                                            else
                                            {
                                                <td><span>CreatedDate</span></td>
                                            }
                                        </tr>
                                        <tr>
                                            <td><img src="~/img/flag.png"></td>
                                            <td class="red">
                                                <span>
                                                    @{
                                                        Html.RenderAction("reportinsearch", "User", new { noteid = data.sellernotelist.ID });
                                                    }

                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                    @{
                                        Html.RenderAction("ratinginsearch", "User", new { noteid = data.sellernotelist.ID });
                                    }

                                </div>

                            </div>
                        </div>
                    }
                }
            </div>
            <br />
            <div style="text-align:center; ">

                @Html.PagedListPager(Model, page => Url.Action("Searchnote",
                    new { page, Searching1 = ViewBag.Searching1, category1 = ViewBag.category1, university1 = ViewBag.university1, course1 = ViewBag.course1, type1 = ViewBag.type1, country1 = ViewBag.country1 }))

            </div>
        </div>































